/* .media-player{

}

#audio_progress_overlay {
  color: red;
  border: 1px solid black;
}

.audio_player {
 display: flex;
 flex-direction: column;
  width: 100vw;
  height: 500px;
  border: 1px solid black;
  
}

.right_facing_triangle {
  color: #000;
  width: 40px;
  height: 40px;
}
#audio_progress_container {
  width: 100%;
  background: red;
  height: 5px;
}

#audio_progress {
  height: 5px;
  width: 50px;
  background: black;
}

#skip_button {
  background: black;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid orange;
}

#play_pause_button {
  
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid green;
} */

.media-player {
  width: 700px;
  height: 700px;
  display: flex;
  flex-direction: column;
}
.Background {
  height: 300px;
  width: 300px;
  
}

.header {

}

.pause-play {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid orange;
  background: orange;
  dispay: flex;
  
}
