
.media-player {
  /* margin-top: 5rem; */
  padding: 10rem 0 10rem 0;
  width: 100%;
  background: rgba(220,220,220,0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iframe-wrapper {
  height: 166px;
  overflow: hidden;
  transition: height .4s;
  
}

.iframe-wrapper:hover {
  height:400px;
  transition: height .4s;
  
}


