.share {
 display: flex;
 align-items: center;
 position: absolute;
 right: 3rem;
}

a > img {
  height: 30px;
  width: auto;
}

.icons {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.icons > a {
  margin: 0.5rem;
}
