.share {
 display: flex;
 margin-top: 1.3rem;
}

.share > p {
  font-size: 1rem;
  margin-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

.icons {
  display: flex;
}

.icons > a {
  color: white;
  margin-left: 0.5rem;

}