/* @custom-media --x-small (width < 768px);
@custom-media --small (width >= 768px) and (width < 1024px);
@custom-media --medium (width >= 1024px) and (width <= 1280px);
@custom-media --hdpi (width > 1280px) and (width <= 1440px);
@custom-media --large (width > 1440px); */

@font-face {
    font-family: headingText;
    src: url('../assets/fonts/LemonMilk.otf');
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Titan+One');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Signika');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');



html {
	font-size: 100%;
}

body{
	margin: 0;
	overflow-x: hidden;	
	font-family: headingText,'Raleway', sans-serif;
}

.no-scroll {
	overflow: hidden;
}

h2, h3, h4, h5, h6 {
	
}

h1 {
	font-size: 2em;
	margin-bottom: 40px;
	margin-top: 70px;
	color: #C70039;
}

h2 {
	
}

h3{
	
}

h4{

}

h5 {
	
}

h6{
	
}

p, span {
	font-size: 1.5rem;
	font-family: 'Raleway';
	
}

a{
	
}

input[type=text], input[type=email], input[type=password], input[type=tel], textarea {
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	background-color: transparent;
	outline: none;
}

b{
	
}

div{
	//box-sizing: border-box;
}

