.about {
    height: 100vh;
    width: 100%;
   /*  background-color: #B4DBC0; */
   display: flex;
   background-image: url('../../assets/dannez.jpg');
   background-size: cover;
   background-attachment: center;
   margin: 0 auto;
   /* background-attachment: fixed; */
}

.shurda {
    color: #C70039;
    font-weight: bold;
}

.about-container {
    max-width: 41%;
    padding:1rem;
    height: auto;
}

.about-description {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 8px; 
}

.about-text {
    padding: 1rem;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 700px) {
    .about {
        background-position: 27% !important;
        border-top: initial !important;
    }

    .about-container {
        width: 50%;    
    }

    .about-description {
      background: initial;
    }

    .about-text {
        padding:1rem;
        padding-left: 0;
        margin: 0;
        color: #000;
        font-size: 1.5rem;
        line-height: 1.7rem;
    }

    .shurda {
        font-size: 2rem;
    }
}