.contact-form {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.contact-title {
  margin: 0;
  margin-bottom: 1rem;
  margin-left: 2rem;
  color: #FFF;
  font-size: 2rem;
  font-family: 'Special Elite', serif;
}

.email-link {
  font-size: 2rem;
  color: #C70039;
  margin-left: 2rem;
  font-family: 'Special Elite', serif;
}

@media only screen and (max-width: 700px) {
  .contact-form {
    padding: 0rem;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .contact-title {
   font-size: 1rem;
   margin-left: 0;
  }
  
  .email-link {
    font-size: 1rem;
    margin-left: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .contact-form {
   padding-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  .contact-form {
    padding: 0; 
  }
  
  .contact-title {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  
  .email-link {
    font-size: 1.5rem;
    
  }
}

@media only screen and (max-width: 400px) {
  
  
  .contact-title {
    font-size: 1rem;
  }
  
  .email-link {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .contact-title {
    font-size: 2rem;
  }
  
  .contact-form {
    padding-left: 0rem;
  }
  .email-link {
    font-size: 2rem;
  }
}

