.contact-form {
  display: flex;
  flex-direction: column;
  
  padding: 3rem;
}

.contact-title {
  margin: 0;
  margin-bottom: 1rem;
  margin-left: 2rem;
  color: #FFF;
  font-size: 2em;
}

.email-link {
  font-size: 2em;
  color: #C70039;
  margin-left: 2rem;
}


@media only screen and (max-width: 700px) {
  .contact-form {
    padding: 0rem;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .contact-title {
   font-size: 1.5em;
   margin-left: 0;
  }
  
  .email-link {
    font-size: 1.5em;
    margin-left: 0;
  }
}