.header {
  height: 100vh;
  width: 100%;
  /* position: absolute; */
  top: 0;
  left: 0;
  /* background-color: lightblue; */
}

.hero > div > video {
  height: 100%!important;
  width: auto!important;
}

.hero-text {
  position:absolute;
    top: 50%;
    left: 50%;
    width:30em;
    height:10em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    text-align: center;
    color: #fff;
}