.nav-bar {
  position: fixed;
  top: 0;
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #151515;
  opacity: 0.8;

}

.link-div {
  display: flex;
}

.link-item {
  padding: 1rem;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-item:hover {
  background: rgba(0, 0, 0, 0.75);
}

.link-item > a {
  text-decoration: none;
  color: white;
}

a > p {
  
  margin: 0;
  font-size: 0.9rem;
}