.footer {
  background-color: #DF4510;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-container {
  
}

.contact-logo > img {
  height:40px;
  width: 40px;
  display: inline;
  margin: 0 auto;
  padding: 5px;
}

.copyright {
  font-size: 1.2em;
}

