.footer {
  background-color: #eee;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-container {
  margin-top: 50px;
}

.contact-logo > img {
  height:30px;
  width: 30px;
  display: inline;
  margin: 0 auto;
  padding: 5px;
}

.copyright {
  font-size: 1.1em;
  font-family: 'Montserrat',sans-serif;
}

.djfoot {
  border-bottom: 2px solid #C70039;
  display: inline-block;
  font-size: 0.9em;
  font-family: 'LemonMilk', sans-serif;
}

@media only screen and (max-width: 700px) {
 .copyright {
   font-size: 0.9em !important;
 }
}
