.upcoming-dates {
  border-radius: 10px;
 
  /* box-shadow: 2px 2px 2px #888888; */
  padding: 1.5rem;
  align-self: center;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  width: 300px;
}

.divider {
  border-bottom: 2px solid white;
  margin-bottom: 1rem;
}

.date-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.date-item > p {
  font-size: 14px;
  margin: 0;  
}

.divider > h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

