.upcoming-dates {
  border-radius: 15px;
  position: absolute;
  left: 2rem;
  /* box-shadow: 2px 2px 2px #888888; */
  padding: 1.5rem;
  align-self: center;
  background: rgba(0, 0, 0, 0.75);
  color: white;
}

.date-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.date-item > p {
  font-size: 14px;
  margin: 0;  
}

.date-item > h2 {
  
}

