.overlay {
  height: 100vh;
  width: 100vw;
  background: #8c3861;
  transform: translateY(-100%);
  transition: transform .8s;
}

.active {
  transform: translateY(0);
  transition: transform .8s;
}

.line.close {
  margin: 0;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.line.close:first-child {
  transform: rotate(45deg);
  transform-origin: 50% 50%;
}

.line.close:last-child {
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
    
}