.banner {
    background-color: #000;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

.banner-heading {
    
    margin: 0;
    display: block;
    font-size: 6rem;
    color: #fff;
    font-family: 'Lemon-Milk', sans-serif;
    font-weight: 600;
    margin-left: 150px;
}

.banner-text {
    color: #fff;
    margin-left: 160px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

.banner-shurda {
    font-size: 1rem;
}

.textfix {
    font-weight: 800;
}

.widget-cloudcast-image:after {
    display: none !important;
}

@media only screen and (max-width: 700px) {

    .banner {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .banner-heading {
      font-size: 1.5rem; 
      margin-left: 1rem;      
    }

    .banner-text {
      margin-left: 1rem;
      font-size: 1rem;
      margin-bottom: 0;
    }

    .banner-text > span {
      font-size: 1rem;
    }

    .banner-text > .banner-shurda {
      font-size: 0.8rem;
    }
  }